body {
    background-color: #000;
}

button {
    background-color: #000;
    border: 1px solid blue;
    color: blue;
    padding: 10px;
    cursor: pointer;
    font-size: 20pt;
}

.buttons {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}